.login-container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.login-container-form {
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dark-color);
  width: 350px;
  height: 450px;
}

