<div class="mb-2">
  <div *ngIf="alertService.obterMensagem() !== null" [ngClass]="{
    'alert-success': alertService.obterResultadoSucesso(),
    'alert-danger': !alertService.obterResultadoSucesso(),
    'alert': true
  }" role="alert">
    {{ alertService.obterMensagem() }}
  </div>
</div>

<div class="login-container row">
  <div class="col-md-4 login-container-form body-login">

    <h2 class="title-login mb-2">
      <i class="bi bi-person-fill"></i> Login
    </h2>

    <form (submit)="executarLogin()">
      <div class="mb-4">
        <label for="email" class="form-label">Email<span>*</span></label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               [(ngModel)]="usuario.email"
               required>
        <div *ngIf="formEnviado && !usuario.email" class="text-login-validate">Por favor, insira seu email.</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha<span>*</span></label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               [(ngModel)]="usuario.password"
               required>
        <div *ngIf="formEnviado && !usuario.password" class="text-login-validate">Por favor, insira sua senha.</div>
      </div>

      <div class="col-md-12 mt-3">
        <button type="submit" class="btn button-success button-border button-login d-block mb-3">
          <i class="bi bi-door-open-fill"></i> Entrar
        </button>
        <button type="submit" class="btn button-cancel button-border button-login d-block mb-3" (click)="limparCampos()">
          <i class="bi bi-x-circle-fill"></i> Cancelar
        </button>
        <button [routerLink]="['/create-usuario']" class="btn button-info button-border button-login d-block">
          <i class="bi bi-person-fill-add"></i> Registrar Usuário
        </button>
      </div>

    </form>

  </div>
</div>


