<h2 class="page-title">Contatos</h2>

<hr>

<app-spinner></app-spinner>

<div>
  <h3 class="page-subtitle">Sobre</h3>

  <p>
    Olá meu nome é Paulo Alves sou natural de Recife-PE, tenho como objetivo principal utilizar minhas habilidades como desenvolvedor de software com o propósito
    de facilitar a vida das pessoas sempre com profissionalismo, dedicação, transparência, responsabilidade e crescimento.
  </p>

  <p>
    Sou formado em Análise e Desenvolvimento de Sistemas pela Universidade Estácio de Sá, já tive atuações no mercado como desenvolvedor fullstack com ênfase em aplicações web.
  </p>

  <h3 class="page-subtitle">Meus Contatos</h3>

  <hr>

  <p>Fiquem a vontade para entrar em contato, será um prazer!</p>

  <div class="row container-contact">
    <div class="d-flex col-md-4">
      <div class="mx-2">
        <a href="https://www.linkedin.com/in/paulo-alves3486" target="_blank">
          <img src="assets/icon/linkedin.ico" alt="Linkedin" class="icon-contact" >
        </a>
      </div>
      <div class="mx-2">
        <a href="https://github.com/PauloAlves8039" target="_blank">
          <img src="assets/icon/github.ico" alt="GitHub" class="icon-contact">
        </a>
      </div>
      <div class="mx-2">
        <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5581996103531" target="_blank">
          <img src="assets/icon/whatsapp.ico" alt="WhatsApp" class="icon-contact">
        </a>
      </div>
      <div class="mx-2">
        <a href="mailto:pj38alves@gmail.com" target="_blank">
          <img src="assets/icon/gmail.ico" alt="Gmail" class="icon-contact">
        </a>
      </div>
      <div class="mx-2">
        <a href="https://www.instagram.com/paulo_junior788/?igsh=MXJsdzIyYXM3aDk4ZA%3D%3D" target="_blank">
          <img src="assets/icon/instagram.ico" alt="Instagram" class="icon-contact">
        </a>
      </div>
    </div>
  </div>

</div>
