<div>

  <h2 class="page-title">Cadastrar Cliente</h2>

  <hr>

  <div *ngIf="alertService.obterMensagem() !== null" [ngClass]="{
      'alert-success': alertService.obterResultadoSucesso(),
      'alert-danger': !alertService.obterResultadoSucesso(),
      'alert': true
    }" role="alert">
    {{ alertService.obterMensagem() }}
  </div>

  <form (ngSubmit)="cadastrarCliente()" #enderecoForm="ngForm">

    <div class="row">
      <div class="col-sm-6">

        <div class="mb-2">
          <label for="nome" class="form-label">Nome<span>*</span></label>
          <input type="text"
                 class="form-control input-form-lg"
                 id="nome"
                 name="nome"
                 [(ngModel)]="cliente.nome"
                 required>
        </div>

        <div class="mb-2">
          <label for="dataNascimento" class="form-label">Data de Nascimento<span>*</span></label>
          <input type="date"
                 class="form-control input-form-md"
                 id="dataNascimento"
                 name="dataNascimento"
                 [(ngModel)]="cliente.dataNascimento"
                 required>
        </div>

        <div class="mb-2">
          <label for="cpf" class="form-label">CPF<span>*</span></label>
          <input type="text"
                 class="form-control input-form-sm-3"
                 id="cpf"
                 name="cpf"
                 [(ngModel)]="cliente.cpf"
                 [value]="cliente.cpf | formatoCpf"
                 required>
        </div>

        <div class="mb-2">
          <label for="telefone" class="form-label">Telefone<span>*</span></label>
          <input type="text"
                 class="form-control input-form-sm-3"
                 id="telefone"
                 name="telefone"
                 [(ngModel)]="cliente.telefone"
                 [value]="cliente.telefone | formatoTelefone"
                 required>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="mb-2">
          <label for="email" class="form-label">Email<span>*</span></label>
          <input type="text"
                 class="form-control input-form-lg"
                 id="email"
                 name="email"
                 [(ngModel)]="cliente.email"
                 required>
        </div>

        <div class="mb-2">
          <label for="endereco" class="form-label">Endereco<span>*</span></label>
          <select class="form-control input-form-lg-2"
                  id="endereco"
                  name="endereco"
                  [(ngModel)]="cliente.codigoEndereco"
                  required>
            <option *ngFor="let endereco of enderecos" [value]="endereco.codigoEndereco">
              {{ endereco.logradouro }}, {{ endereco.cidade }}
            </option>
          </select>
        </div>

      </div>
    </div>

    <hr>

    <div class="mt-2">
      <button type="submit" class="btn button-success button-form" [disabled]="!validarCamposObrigatorios()" title="Salvar">
        <i class="bi bi-floppy"></i> Salvar
      </button>
      <button type="button" class="btn button-cancel button-form ms-2" (click)="limparCamposCliente()" title="Cancelar">
        <i class="bi bi-x-square"></i> Cancelar
      </button>
      <button type="button" class="btn button-info button-form ms-2" (click)="voltarParaListaClientes()" title="Lista de Clientes">
        <i class="bi bi-arrow-left-square"></i> Voltar
      </button>
    </div>

  </form>

</div>
