<div>

  <div class="body-title bg-dark mt-2">
    <h2 class="ms-2 page-title-2">
      <i class="bi bi-people-fill"></i>
      <span class="me-2"></span>
      <i class="bi bi-scooter"></i>
      Clientes e Veículos Associados
    </h2>
  </div>

  <app-spinner></app-spinner>

  <div *ngIf="alertService.obterMensagem() !== null" [ngClass]="{
      'alert-success': alertService.obterResultadoSucesso(),
      'alert-danger': !alertService.obterResultadoSucesso(),
      'alert': true
      }" role="alert"
      class="mt-2">
    {{ alertService.obterMensagem() }}
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mb-2">
      <div class="d-flex align-items-end">
        <label for="termoDePesquisaClientesVeiculos" class="me-2 mb-1">Pesquisar:</label>
        <input type="text"
               class="form-control"
               id="termoDePesquisaClientesVeiculos"
          [(ngModel)]="termoDePesquisaClientesVeiculos" />
      </div>
    </div>

    <div class="col">
      <div class="d-flex">
        <div class="ms-2">
          <button class="btn button-info button-border button-form" (click)="pesquisarClientesVeiculos()" title="Pesquisar">
            <i class="bi bi-search"></i> Pesquisar
          </button>
        </div>

        <div class="ms-2">
          <button class="btn button-cancel button-border button-form" (click)="limparCampoPesquisa()" title="Cancelar">
            <i class="bi bi-x-square"></i> Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">

    <div class="mb-2">
      <button class="btn button-success button-border button-form-2" (click)="abrirCadastroDeClienteVeiculo()" title="Adicionar Associação">
        <i class="bi bi-file-plus"></i> Adicionar Associação
      </button>
    </div>

    <table class="table table-bordered table-hover text-table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Marca e Modelo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clienteVeiculo of clientesVeiculosFiltrados">
          <td>{{ encontrarNomeDoCliente(clienteVeiculo.clienteId) }}</td>
          <td>{{ encontrarMarcaDoVeiculo(clienteVeiculo.veiculoId) }} - {{ encontrarModeloDoVeiculo(clienteVeiculo.veiculoId) }}</td>
          <td>
            <button type="button"
                    class="btn button-warning button-border btn-sm me-1"
                    (click)="editarClienteVeiculo(clienteVeiculo.codigoClienteVeiculo)"
                    title="Editar">
              <i class="bi bi-pencil-square"> Editar</i>
            </button>
            <button type="button"
                    class="btn button-danger button-border btn-sm"
                    (click)="excluirClienteVeiculo(clienteVeiculo.codigoClienteVeiculo)"
                    title="Excluir">
              <i class="bi bi-trash-fill"> Excluir</i>
            </button>
          </td>
        </tr>
        <tr *ngIf="clientesVeiculosFiltrados.length === 0">
          <td colspan="8" class="text-center">Nenhum cliente e veículo encontrados.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-paginacao
    [paginaAtual]="paginaAtual"
    [totalDePaginas]="totalDePaginas"
    (trocarPagina)="trocarPagina($event)">
  </app-paginacao>

</div>
