<div class="container-body">
  <div>
    <h2 class="page-title">Permanências de Motos</h2>
  </div>

  <app-spinner></app-spinner>

  <div class="row mt-4">
    <div class="col-md-8 mb-2">
      <div class="d-flex align-items-end">
        <label for="termoDePesquisaPermanencia" class="me-3 mb-2">Pesquisar:</label>
        <input type="text"
               class="form-control input-form-lg"
               id="termoDePesquisaPermanencia"
               [(ngModel)]="termoDePesquisaPermanencia" />

        <div class="col-md-3 ms-2">
          <button class="btn button-info button-border button-form" (click)="pesquisarPermanencias()">
            <i class="bi bi-search"></i> Pesquisar
          </button>
        </div>

        <div class="col-md-3 ms-2">
          <button class="btn button-cancel button-border button-form" (click)="limparCampoPesquisa()">
            <i class="bi bi-x-square"></i> Cancelar
          </button>
        </div>

        <div class="col-md-3 ms-2">
          <button class="btn button-success button-border button-form" (click)="abrirCadastroDePermanencia()">
            <i class="bi bi-file-plus"></i> Adicionar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <table class="table table-bordered table-hover text-table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Cliente e Veículo</th>
          <th scope="col">Placa</th>
          <th scope="col">Entrada</th>
          <th scope="col">Saída</th>
          <th scope="col">Taxa por Hora</th>
          <th scope="col">Valor Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permanencia of permanenciasFiltradas">
          <td>
              {{ encontrarNomeCliente(permanencia.clienteVeiculoId) }} -
              {{ encontrarMarcaVeiculo(permanencia.clienteVeiculoId) }}
          </td>
          <td>{{ permanencia.placa }}</td>
          <td>{{ permanencia.dataEntrada | FormatoDataBasico }}</td>
          <td>{{ permanencia.dataSaida | FormatoDataBasico }}</td>
          <td>{{ permanencia.taxaPorHora | RealBrasileiro }}</td>
          <td>{{ permanencia.valorTotal | RealBrasileiro }}</td>
          <td>{{ permanencia.estadoPermanencia }}</td>

          <td>
            <button type="button"
                    class="btn button-warning button-border btn-sm btn-sm me-1"
                    (click)="atualizarPermanencia(permanencia)"
                    title="Editar" >
              <i class="bi bi-pencil-square">Editar</i>
            </button>
            <button type="button"
                    class="btn button-info button-border btn-sm btn-sm me-1"
                    (click)="gerarPDF(permanencia)"
                    title="Gerar PDF" >
              <i class="bi bi-file-pdf-fill">PDF</i>
            </button>
            <button type="button"
                    class="btn button-danger button-border btn-sm"
                    (click)="excluirPermanencia(permanencia.codigoPermanencia)"
                    title="Excluir">
              <i class="bi bi-trash-fill">Excluir</i>
            </button>
          </td>
        </tr>
        <tr *ngIf="permanenciasFiltradas.length === 0">
          <td colspan="8" class="text-center">Nenhuma permanência encontrada.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-paginacao
    [paginaAtual]="paginaAtual"
    [totalDePaginas]="totalDePaginas"
    (trocarPagina)="trocarPagina($event)">
  </app-paginacao>

</div>
