<div>

<div class="body-title bg-dark mt-2">
  <h2 class="ms-2 page-title-2">
    <i class="bi bi-people-fill"></i> Clientes
  </h2>
</div>

<app-spinner></app-spinner>

<div *ngIf="alertService.obterMensagem() !== null" [ngClass]="{
  'alert-success': alertService.obterResultadoSucesso(),
  'alert-danger': !alertService.obterResultadoSucesso(),
  'alert': true
  }" role="alert"
  class="mt-2">
  {{ alertService.obterMensagem() }}
</div>

<div class="row mt-4">
  <div class="col-md-6 mb-2">
    <div class="d-flex align-items-end">
      <label for="termoDePesquisaCliente" class="me-2 mb-1">Pesquisar:</label>
      <input type="text"
             class="form-control"
             id="termoDePesquisaCliente"
             [(ngModel)]="termoDePesquisaCliente" />
    </div>
  </div>

  <div class="col">
    <div class="d-flex">
      <div class="ms-2">
        <button class="btn button-info button-border button-form" (click)="pesquisarClientes()" title="Pesquisar">
          <i class="bi bi-search"></i> Pesquisar
        </button>
      </div>

      <div class="ms-2">
        <button class="btn button-cancel button-border button-form" (click)="limparCampoPesquisa()" title="Cancelar">
          <i class="bi bi-x-square"></i> Cancelar
        </button>
      </div>
    </div>

  </div>

</div>

<div class="mt-4">

  <div class="mb-2">
    <button class="btn button-success button-border button-form-2" (click)="abrirCadastroDeCliente()" title="Adicionar Cliente">
      <i class="bi bi-file-plus"></i> Adicionar Cliente
    </button>
  </div>

  <table class="table table-bordered table-hover text-table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesFiltrados">
        <td>{{ cliente.nome }}</td>
        <td>{{ formatarData(cliente.dataNascimento) }}</td>
        <td>{{ cliente.cpf | formatoCpf }}</td>
        <td>{{ cliente.telefone | formatoTelefone }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.endereco?.logradouro }}, {{ cliente.endereco?.numero }}, {{ cliente.endereco?.cidade }} </td>
        <td>
          <button type="button"
                  class="btn button-warning button-border btn-sm me-1"
                  (click)="editarCliente(cliente.codigoCliente)"
                  title="Editar">
            <i class="bi bi-pencil-square"> Editar</i>
          </button>
          <button type="button"
                  class="btn button-danger button-border btn-sm"
                  (click)="excluirCliente(cliente.codigoCliente)"
                  title="Excluir">
            <i class="bi bi-trash-fill"> Excluir</i>
          </button>
        </td>
      </tr>
      <tr *ngIf="clientesFiltrados.length === 0">
        <td colspan="8" class="text-center">Nenhum cliente encontrado.</td>
      </tr>
    </tbody>
  </table>
 </div>

 <app-paginacao
    [paginaAtual]="paginaAtual"
    [totalDePaginas]="totalDePaginas"
    (trocarPagina)="trocarPagina($event)">
  </app-paginacao>

</div>
