<div class="container-body">
  <div>
    <h2 class="page-title">Veículos</h2>
  </div>

  <app-spinner></app-spinner>

  <div class="row mt-4">
    <div class="col-md-8 mb-2">
      <div class="d-flex align-items-end">
        <label for="termoDePesquisaVeiculo" class="me-3 mb-2">Pesquisar:</label>
        <input type="text"
               class="form-control input-form-lg"
               id="termoDePesquisaVeiculo"
          [(ngModel)]="termoDePesquisaVeiculo" />

        <div class="col-md-3 ms-2">
          <button class="btn button-info button-border button-form" (click)="pesquisarVeiculos()">
            <i class="bi bi-search"></i> Pesquisar
          </button>
        </div>

        <div class="col-md-3 ms-2">
          <button class="btn button-cancel button-border button-form" (click)="limparCampoPesquisa()">
            <i class="bi bi-x-square"></i> Cancelar
          </button>
        </div>

        <div class="col-md-3 ms-2">
          <button class="btn button-success button-border button-form" (click)="abrirCadastroDoVeiculo()">
            <i class="bi bi-file-plus"></i> Adicionar
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-2">
    <table class="table table-bordered table-hover text-table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Cor</th>
          <th scope="col">Ano</th>
          <th scope="col">Observações</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculosFiltrados">
          <td>{{ veiculo.tipo }}</td>
          <td>{{ veiculo.marca }}</td>
          <td>{{ veiculo.modelo }}</td>
          <td>{{ veiculo.cor }}</td>
          <td>{{ veiculo.ano }}</td>
          <td>{{ veiculo.observacoes }}</td>
          <td>
            <button type="button"
                    class="btn button-warning button-border btn-sm btn-sm me-1"
                    (click)="editarVeiculo(veiculo.codigoVeiculo)"
                    title="Editar">
              <i class="bi bi-pencil-square">Editar</i>
            </button>
            <button type="button"
                    class="btn button-danger button-border btn-sm"
                    (click)="excluirVeiculo(veiculo.codigoVeiculo)"
                    title="Excluir">
              <i class="bi bi-trash-fill">Excluir</i>
            </button>
          </td>
        </tr>
        <tr *ngIf="veiculosFiltrados.length === 0">
          <td colspan="8" class="text-center">Nenhum veículo encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-paginacao
    [paginaAtual]="paginaAtual"
    [totalDePaginas]="totalDePaginas"
    (trocarPagina)="trocarPagina($event)">
  </app-paginacao>

</div>
