<div class="mb-2">
  <div *ngIf="alertService.obterMensagem() !== null" [ngClass]="{
    'alert-success': alertService.obterResultadoSucesso(),
    'alert-danger': !alertService.obterResultadoSucesso(),
    'alert': true
  }" role="alert">
    {{ alertService.obterMensagem() }}
  </div>
</div>

<div class="usuario-container row">
  <div class="col-md-4 usuario-container-form body-login">

    <h2 class="title-login">
      <i class="bi bi-person-fill-add"></i> Criar Usuário
    </h2>

    <form (submit)="registrarNovoUsuario()">
      <div class="mb-4">
        <label for="email">Email:</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               [(ngModel)]="registrarUsuario.email"
               required>
        <div *ngIf="formEnviado && !registrarUsuario.email" class="text-login-validate">Por favor, insira seu email.</div>
      </div>


      <div class="mb-3">
        <label for="password">Senha:</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               [(ngModel)]="registrarUsuario.password"
               required>
        <div *ngIf="formEnviado && !registrarUsuario.password" class="text-login-validate">Por favor, insira sua senha.</div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword">Confirmar Senha:</label>
        <input type="password"
               id="confirmPassword"
               name="confirmPassword"
               class="form-control"
               [(ngModel)]="registrarUsuario.confirmPassword"
               required>
        <div *ngIf="formEnviado && !registrarUsuario.confirmPassword" class="text-login-validate">Por favor, confirme sua senha.</div>
      </div>

      <div class="col-md-12">
        <button type="submit" class="btn button-success button-border button-login d-block mb-3">
          <i class="bi bi-floppy-fill"></i> Registrar
        </button>
        <button type="submit" class="btn button-cancel button-border button-login d-block mb-3" (click)="limparCampos()">
          <i class="bi bi-x-circle-fill"></i> Cancelar
        </button>
        <button type="button" class="btn button-info button-border button-login d-block" (click)="voltarParaTelaDeLogin()">
          <i class="bi bi-arrow-left"></i> Voltar para o Login
        </button>
      </div>

    </form>

    <!-- <div *ngIf="mensagem">{{ mensagem }}</div> -->

  </div>
</div>


