<h2 class="page-title">Bem-vindo(a) ao Estacionamento de Motos!</h2>

<hr>

<app-spinner></app-spinner>

<div>
  <h3 class="page-subtitle">Sobre a Empresa</h3>

  <p>
    Seja você é um motociclista ávido ou um visitante ocasional, é um prazer recebê-lo em nosso estacionamento.
    Estamos aqui para proporcionar a você uma experiência de estacionamento segura e conveniente,
    com um toque em nosso de atendimento excepcional.
  </p>

  <p>
    Nosso estacionamento disponibiliza serviços com qualidade sempre pensando em nossos clientes, conheça nossos serviços:
  </p>

</div>

<div class="mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card container-card card-hover">
        <img src="assets/images/entrada.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title page-subtitle">Fácil Localização</h5>
          <p class="card-text">O estacionamento dispôe de uma fácil locação em uma área central muito movimentada.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card container-card card-hover">
        <img src="assets/images/estacionamento.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title page-subtitle">Comodidade</h5>
          <p class="card-text">Os clientes tem a disposição uma boa quantidade de vagas e espaço para locomoção.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card container-card card-hover">
        <img src="assets/images/motos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title page-subtitle">Segurança</h5>
          <p class="card-text">Nosso estacionamento tem uma ótima segurança para garantir proteção a estadia de sua moto.</p>
        </div>
      </div>
    </div>
  </div>

</div>
